@page
@model RestaurantsListModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Restaurants</h1>

<form method="GET">
    <div class="form-group">
        <div class="form-input">
            <input type="search" name="search" class="form-control" value="@Model.Search" />
                <button class="btn btn-outline-primary">
                    Search
                </button>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var item in Model.Restaurants)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Location</td>
            <td>@item.Cuisine</td>
        </tr>
    }
</table>
